<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(titulo)">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title th:text="${titulo}">HOME!!!!</title>
</head>

<body>
<!-- <header th:replace="~{layout-fragments :: header('Lista de pesquisas académicas')}"></header> -->
    <header>
        <div class="container mt-3">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a aria-current="page" class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/researches">Todas pesquisas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/researches/search-form">Minhas pesquisas</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/researches/create-form-one">Carregar nova pesquisas</a>
                </li>
            </ul>
        </div>
        <div class="container mt-3">
            <div class="row">
                <div class="col-12">
                    <h1>Lista de pesquisas académicas</h1>
                </div>
            </div>
        </div>
    </header>


<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    
                    <th scope="col">Título</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Instituição</th>
                    <th scope="col">Data de aprovação</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="research : ${researches}">
                    <td class="col-2" scope="row" th:text="${research.title}"></td>
                    <td class="col-3" th:text="${research.description}"></td>
                    <td class="col-2" th:text="${research.publisher.person.firstName}"></td>
                    <td class="col-2" th:text="${research.approvedBy}"></td>
                    <td class="col-1" th:text="${research.approvedDated}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- <div class="row">
        <a href="/professores/new">Novo Professor</a>
    </div> -->
</div>




<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>