<head th:fragment="head(title)">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title th:text="${title}">HOME!!!!</title>
</head>


<header th:fragment="header(title)">
    <div class="container mt-3">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a aria-current="page" class="nav-link" href="/">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/researches">Todas pesquisas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/my">Minhas pesquisas</a>
            </li>
        </ul>
    </div>
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <h1 th:text="${title}">Oi!</h1>
            </div>
        </div>
    </div>
</header>